@model ProductVM
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">
                   @(Model.Product.Id !=0 ?"Update":"Create") Product
                </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                </div>
                <div class="mb-3 row p-1">
                    <label asp-for="Product.Title" class="p-0">

                    </label>
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-bg-danger"></span>
                </div>
                <div class="py-2 col-12">
                    <label asp-for="Product.Description" class="ms-2 text-muted">

                    </label>
                    <textarea asp-for="Product.Description" type="text" class="form-control"> </textarea>
                   
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN">

                    </label>
                    <input asp-for="Product.ISBN" type="text" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-bg-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author">

                    </label>
                    <input asp-for="Product.Author" type="text" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-bg-danger"></span>
                </div>
                 <div class="mb-3">
                    <label asp-for="Product.ListPrice">

                    </label>
                    <input asp-for="Product.ListPrice" type="text" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-bg-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price">

                    </label>
                    <input asp-for="Product.Price" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-bg-danger"></span>
                </div>
                 <div class="mb-3">
                    <label asp-for="Product.Price50">

                    </label>
                    <input asp-for="Product.Price50" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-bg-danger"></span>
                </div>
                 <div class="mb-3">
                    <label asp-for="Product.Price100">

                    </label>
                    <input asp-for="Product.Price100" type="text" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-bg-danger"></span>
                </div>

                <div class="mb-3">
                  
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.Categorylist"  class="form-select form-control">

                        <option disabled selected> --Select Category -- </option>
                    </select>
                    <label asp-for="Product.CategoryId"> </label>
                    <span asp-validation-for="Product.CategoryId" class="text-bg-danger"></span>
                </div>
                 <div class="mb-3">
                    <label asp-for="Product.ImageUrl">

                    </label>
                    <input type ="file"  name="file" asp-for="Product.ImageUrl"  class="form-control" />
                   @* <span asp-validation-for="Product.ImageUrl" class="text-bg-danger"></span>*@
                </div>

                <div class="row">
                    <div class="col-6">
                        @if(Model.Product.Id !=0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">
                                Update
                            </button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">
                            Create
                        </button>
                        }
                        
                    </div>
                    <div class="col-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>



        </form>

    </div>
</div>
@section Scripts
{
     <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ]
    });
  </script>
    @{
        <partial name ="_ValidationScriptsPartial"/>
    }
}